* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  width: 100%;
  height: 50vh;
  padding: 0 10px;
  background: rgb(45, 71, 45);
  display: flex;
  justify-content: center;
  align-items: center;
}
header nav {
  width: 95%;
  color: aliceblue;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header h5 {
  width: 150px;
  height: 150px;
  background: rgb(163, 146, 179);
  font-size: 25px;
  display: grid;
  place-items: center;
  border-radius: 50%;
  border: 1px solid white;
}
header nav ul {
  width: 60%;
  display: grid;
  grid-template-columns: 24% 24% 24% 24%;
}
header nav ul li {
  list-style: none;
  font-size: 18px;
  color: rgb(237, 230, 243);
}
